.#{$prefix}main-l {
  background-image: url('/images/poker_background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.#{$prefix}main-l-1 {

}

.#{$prefix}main-l-2 {

}

.#{$prefix}main-l-3 {

}